on:
  push:
    branches:
      - "feature/call_swarms"
  pull_request:
    branches:
      - "main" 
    paths:
      - ".github/workflows/call-swarms.yaml"

name: CallSwarms
on:
  workflow_dispatch:
jobs:
  caller-identity:    
    name: Return the IAM user
    permissions:
      contents: read
      id-token: write
    runs-on: ubuntu-latest
    steps:
    - name: Configure AWS credentials
      uses: aws-actions/configure-aws-credentials@v4
      with:
        aws-region: ${{ secrets.AWS_REGION }}
        role-to-assume: arn:aws:iam::${{ secrets.AWS_ACCOUNT_ID }}:role/github
    - uses: actions/checkout@v2
    - run: bash -x -e      ./actions/call_swarms.sh